body {
    background-color: black;
}
.post-header {
    padding: 10px;
    display: flex;
    font-family: Henny Penny, system-ui;
    width: 10px;
    height: 50px
}
.header{
    margin: 0%;
}
.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}

.fa-html5 {
    font-size: 45px;
    margin-right: 10px;
}
.post {
    margin: auto;
    background: white;
    width: 500px;
    height: 600px;
}
img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.post-icons{
    display: flex; 
    justify-content: space-between;
    padding: 10px;
}
.post-likes {
    margin: 0 10px;
}
p1 {
    font-family: Arial, sans-serif;
    font-size: smaller;
}
.post-description {
    margin: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.post-comments {
    margin: 0 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}